<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Fake Store</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img src="./img/store.png" id="store" alt="logo" />
        <h4 class="logo">Fake Store</h4>
      </div>
    </header>

    <main>
      <section class="presentation">
        <div class="introduction">
          <div class="intro-text">
            <h1>iPhone SE </h1>
            <p>The New iPhone SE at just 399$</p>
          </div>
          <div class="cta">
            <form action="/pay" method="POST">
              <input class="cta-select" type="submit" value="Buy with PayPal"/>
            </form>
          </div>
        </div>
        <div class="cover">
          <img src="./img/iphone.png" alt="iphone" />
        </div>
      </section>
      <img class="big-circle" src="./img/big-eclipse.svg" alt="" />
      <img class="medium-circle" src="./img/mid-eclipse.svg" alt="" />
      <img class="small-circle" src="./img/small-eclipse.svg" alt="" />
    </main>
  </body>
</html>
